* {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: black;
}

.container {
  width: 1000px;
  max-height: 600px;
  margin: 70px auto;
}

.form-container {
  width: 790px;
  height: 400px;
  background-color: rgb(233, 208, 227);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-wrap: anywhere;
}

.messageContainer {
  width: max-content;
  height: auto;
  padding: 2px 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(221, 239, 243);
}

.message {
  max-width: 300px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

form input {
  width: 800px;
  height: 15px;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color: rgb(234, 237, 238);
}

.right {
  margin-left: auto;
  margin-right: 0;
  background-color:beige;
}


