.container {
  width: 1000px;
  height: 600px;
  background-color: brown;
  margin: 50px auto;
}

.form-container {
  width: 800px;
  height: 500px;
  background-color: bisque;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

.messageContainer {
  max-width: 200px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: azure;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

form input {
  width: 800px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
}

.right {
  margin-left: auto;
  margin-right: 0; 
}


